 :root {
     --primary-color: #333;
     --bg-color: #2f2f2f;
     --accent-color: #75f38e;
     --text-main: #f0f0f0;
     --text-sub: #ccffbe;
 }

 body {
     font-family: 'Pretendard', sans-serif;
     background-color: var(--bg-color);
     margin: 0;
     padding: 40px 20px;
     color: var(--text-main)
 }

 .container {
     max-width: 1000px;
     margin: 0 auto;
 }

 h1 {
     text-align: center;
     margin-bottom: 100px;
 }

 section {
     margin-bottom: 60px;
 }

 h2 {
     /* border-left: 5px solid var(--accent-color); */
     padding-left: 15px;
     margin-bottom: 30px;
 }

 .grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
     gap: 25px;
 }

 .card {
     background: rgb(63, 63, 63);
     border-radius: 12px;
     overflow: hidden;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
     transition: transform 0.3s ease;
     text-decoration: none;
     color: inherit;
     display: flex;
     flex-direction: column;
 }

 .card:hover {
     transform: translateY(-10px);
 }

 .thumbnail {
     height: 200px;
     background: #eee;
     /* 이미지 로딩 전이나 없을 때 대비 */
     overflow: hidden;
 }

 .thumbnail img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
     transition: transform 0.3s ease;
 }

 /* .card:hover .thumbnail img {
     transform: scale(1.01);
 } */

 .content {
     padding: 20px;
 }

 .content h3 {
     margin: 0 0 10px 0;
     font-size: 1.2rem;
 }

 .content p {
     font-size: 1rem;
     color: #666;
     line-height: 1.5;
     margin: 0;
 }

 .tag {
     display: inline-block;
     background: #303030;
     color: var(--accent-color);
     padding: 4px 10px;
     border-radius: 4px;
     font-size: 0.75rem;
     margin-bottom: 10px;
     font-weight: bold;
 }

 .gumroad-link {
     font-size: 1rem;
     color: var(--bg-color);
     margin-top: 2rem;
 }

 .gumroad-link .button-link,
 .gumroad-link button {
     padding: 0.6rem 1.2rem;
     border-radius: 6px;
     background-color: #3f3f3f;
     color: var(--text-main);
     text-decoration: none;
     cursor: pointer;
     transition: opacity 0.2s;
 }

 .gumroad-link .button-link:hover {
     opacity: 0.5;
 }


 .footer {
     margin-top: 100px;
 }

 .footer-content {
     max-width: 1000px;
     margin: 0 auto;
 }

 .footer-name {
     font-size: 1.2rem;
     font-weight: 700;
     margin-bottom: 15px;
 }

 .footer-job {
     font-size: 1rem;
     font-weight: 400;
     margin-left: 8px;
 }

 .footer-info {
     display: flex;
     gap: 20px;
     font-size: 15rem;
     margin-bottom: 30px;
 }

 .footer-info .email {
     color: var(--text-main);
 }

 .footer-info .email:hover {
     color: var(--text-sub);
 }

 .copyright {
     font-size: 0.8rem;
     color: #bbb;
     letter-spacing: 0.5px;
 }